ci:
  autofix_commit_msg: "style(pre-commit): autofix"
  autoupdate_commit_msg: "ci(pre-commit): autoupdate"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: .*test/fixtures/invalid_metadata\.yaml$
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        args: [-c, .markdownlint.yaml, --fix]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        exclude: .*test/fixtures/invalid_metadata\.yaml$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        exclude: .*test/fixtures/invalid_metadata\.yaml$

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint check)
        entry: poetry run ruff check --config pyproject.toml --fix
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-format
        name: ruff (format)
        entry: poetry run ruff format --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: false

exclude: .svg
